body {
    font-family:Arial;
    font-size:11px;
}
input {
    font-size:12px;
}
.label_wide {
	width:120px;
	display: inline-block;
	margin-left:5px;
    font-size:12px;
}
.label_s {
    width:50px;
    display: inline-block;
    font-size:12px;
}
.input_small {
	width:20px;
	display: inline-block;
	margin-left:20px;
    font-size:12px;
}
.input_big {
	width:150px;
	display: inline-block;
	font-size:12px;
	margin-left:20px;
}
/*.select_big {
	width:159px;
	display: inline-block;
	font-size:12px;
	margin-left:20px;
}*/
.ui-datepicker {
	font-size:11px !important;
}
.odd_even_table {
	border:0;
	border-collapse: collapse;
	border-spacing:0;
	margin:0px;
	font-size:11px;
}
th {
    background-color:#D8D8D8;
    padding: 3px;
    height: 15px;
}
.odd_even_table tr:nth-of-type(odd) {
	background-color:#E8E8E8;
}
.odd_even_table tr:nth-of-type(even) {
	background-color:#FFFFFF;
}
td {
    padding: 3px;
}
ul {
    padding: 0px;
}

/*
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
*/
